<h1>About Us</h1>
<p>Jungle Plant Shop is a Toronto-based botanical boutique that specializes in house plants to make your home feel brighter and more loved. Jungle has with a focus on giving you the best quality tropical plants, cactus, ceramics and selected objects for your space, a friends place or even a loving family.
<p>Jungle's brand provides top-notch products and takes pride in our hand selected products to ensure every piece is unique, tells its own story, lovely and we carry a variety of pots to compliment our exotic plant selection which suits each plant. Our accessories are both curated, hand painted, as well as created by our own in house production team and manufactured in small runned buisness by some very talented artists internationally.<p>
